.postsLayoutMain {
  display: grid;
  grid-template-rows:5em auto ;
  justify-content: center;
  padding: 1em;
  h1{
    margin:auto;
  }
  .postsLayoutBody{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0.5em;
    padding: 1em;

  }
}