.postCardMain {
  width: 13em;
  height: 19em;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 1px 0 inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  display: grid;
  grid-template-rows: 8em 11em;

  img {
    object-fit: cover;
    width: 12.95em;
    height: 8em;
  }

  .postCardInfo {
    padding: 0.5em;
    display: grid;
    grid-template-rows: 3em auto 1em;


    .postCardTitle {
      font-weight: bold;

      h5 {
        margin-top: 0;
        font-size: 0.5em;
        font-weight: normal;

        span {
          font-size: smaller;
          font-weight: bold;
        }
      }
    }

    .postCardContent {
      margin-top: 0.7em;
      font-size: 0.75em;
      text-justify: inter-word;
    }

    .postCardContinue {
      display: flex;
      justify-content: right;
      align-items: center;
      font-weight: bold;
      font-size: 0.6em;
      padding-right: 0.5em;

      svg {
        margin-top: 0.2em;
        margin-left: 0.5em;
      }
    }

    .postCardContinue:hover {
      color: #c0161b;
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 1650px) {
  .postCardMain {
    width: 100%;
    margin-bottom: 1em;

    img {
      width: 100%;
    }

    .postCardInfo {
      font-size: smaller;
    }
  }
}

@media screen and (max-width: 870px) {
  .postCardMain {
    width: 100%;
    margin-bottom: 1em;

    img {
      width: 100%;
    }

    .postCardInfo {
      font-size: smaller;
    }
  }
}

@media screen and (max-width: 500px) {
  .postCardMain {
    width: 100%;
    margin-bottom: 1em;

    img {
      width: 100%;
    }

    .postCardInfo {
      font-size: smaller;
    }
  }
}